@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

body {
    background-color: #042940;    
    background-image: url(./images/14-147180_hd-deep-blue-space-wallpaper-high-resolution-space.jpg);
    margin: 0;
    padding: 0;
}

.title {
    padding-top: 10px;
}

.title-section {
    border: 3px solid #f8f8f8;
    border-style: inset;
    background-color: #22287e54;
    color: #fff;
    font-family: 'Aclonica', sans-serif;
}

.search-id-section {
    justify-content: center;
}

.individual-astroid-table, th, td {
    background-color: rgb(46, 44, 44);
    border: 1px solid #8d97b6;
    padding: 2%;
    font-size: 1.5rem;
}

th {
    color:#d62121 !important;
}

td {
    color: #ffffff;
    text-align: center;
}

.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content-tab-1 {
    border: 3px solid #8d97b6;
    border-style: inset;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content-tab-2 {
    border: 3px solid #8d97b6;
    border-style: inset;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.search-id-section {
    text-align: center;
}

.dx-datagrid-text-content {
    color: #d62121 !important;
    font-weight: bold;
    font-size: larger;
}

.dashboard {
    justify-content: center;
}

.user-info {
    background-color: #414246af;
    color: white;
}